<!DOCTYPE html>
<html>
<head>
    <title>Home Lab Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Home Lab Dashboard</h1>

<div class="container">

    <div class = "card">
        <h2>CPU Usage</h2>
        <p id = "cpu">Loading...</p>
    </div>

    <div class = "card">
        <h2>Memory Usage</h2>
        <p id = "memory">Loading...</p>
    </div>

    <div class = "card">
        <h2>Disk Usage</h2>
        <p id = "disk">Loading...</p>
    </div>

    <div class = "card">
        <h2>Network Devices</h2>
        <div id = "network">
            Loading...
        </div>
    </div>

</div>

<h2>Network Latency History</h2>

<canvas id="pingChart"></canvas>

<script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

async function loadSystemInfo(){

    const response = await fetch("/system");

    const data = await response.json();

    document.getElementById("cpu").innerHTML = data.cpu_usage + "%";

    document.getElementById("memory").innerHTML = data.memory_usage + "%";

    document.getElementById("disk").innerHTML = data.disk_usage + "%";
}

async function loadNetworkInfo(){

    const response = await fetch("/network");

    const devices = await response.json();

    let html = "";

    devices.forEach(device => {

        let status;

        if(device.status === "online"){
            status = "🟢 Online";
        }
        else{
            status = "🔴 Offline";
        }

        html += `
            <p>
                <strong>${device.name}</strong>
                (${device.ip})
                <br>
                ${status}
                ${device.response_time ?
                "- " + device.response_time + " ms"
                : ""}
            </p>
        `;
    });
    document.getElementById("network").innerHTML = html;
}

async function loadPingChart(){

    const response = await fetch("/network/history/1");

    const data = await response.json();

    const labels = data.map(
        item => item.timestamp
    );

    const pingValues = data.map(
        item => item.response_time
    );

    new Chart(
        document.getElementById("pingChart"),
        {
            type: "line",

            data: {

                labels: labels,

                datasets: [
                    {
                        label: "Response Time (ms)",

                        data: pingValues,

                        borderWidth: 2
                    }
                ]
            },

            options: {

                responsive: true,

                scales:{

                    y:{
                        beginAtZero: true
                    }
                }
            }
        }
    );
}


loadSystemInfo();
loadNetworkInfo();
loadPingChart();

setInterval(loadSystemInfo, 5000);
setInterval(loadNetworkInfo, 5000);

</script>

</body>
</html>